<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebase-native" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>FirebaseNative</name>
  <js-module name="FirebaseNative" src="www/FirebaseNative.js">
    <clobbers target="cordova.plugins.FirebaseNative" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="FirebaseNative">
        <param name="ios-package" value="FirebaseNative" />
      </feature>
    </config-file>
    <source-file src="src/ios/FirebaseNative.m" />
  </platform>
</plugin>
